@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=M+PLUS+1p:wght@700&family=Noto+Sans+JP:wght@100&family=Tsukimi+Rounded:wght@300&family=Yomogi&family=Zen+Maru+Gothic:wght@600&display=swap');



body{background-color:white;    
font-size:16px;
	margin: 4em;	/* 余白の削除 */
	padding: 0;	/* 余白の削除 */
	height: 100%;	/* 縦の高さを100% */
	width: 100%;
line-height: 1.5em;
font-family:'monospace','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
letter-spacing: 0.1em; max-width:80%;
}
h1,h2,h3,h4,h5{font-weight:bold; font-size:1.5em;font-weight: normal;line-height:1em;}
.content{width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:50px 3%;border-radius:3px}footer{font-size:.5em;text-align:right;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0px 5%}h1,h2,h3,h4,h5,h6{font-weight:600;padding:5px 0px}
h5{font-size:1em}h4{font-size:1.2em}h3{font-size:1.4em}h2{font-size:1.6em}h1{font-size:2.8em}

a{text-decoration:none;-webkit-transition:all 1s ease;transition:all 1s ease;color:rgb(64, 64, 234)}
a:visited {
    color: #495daa;
}
a:hover{-webkit-transition:all .3s ease;transition:all .3s ease;color:rgb(222, 222, 222)}


img{max-width:80%;}

ul{
list-style-type: none;

margin:0px;

}
@media screen and (min-width:180px) and ( max-width:1024px) { 
body{
font-size:24px;
}
img{max-width:90%;}
}




/* レイアウト */
